<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding_IpersonService"></binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:55990/PersonService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_IpersonService" contract="PersonServiceReference.IPersonService" name="basicHttpBinding_IpersonService"></endpoint>
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="CSVFilepath" value="C:\Users\Nate\Documents\Visual Studio 2015\Projects\PeopleRepoViewer\Repositories.CSV\PeopleCSVFile.txt" />
  </appSettings>
  <connectionStrings>
    <add name="RepositoriesDB" connectionString="data source=.;initial catalog=Repositories;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="RepositoriesEntities" connectionString="metadata=res://*/RepositoriesContext.csdl|res://*/RepositoriesContext.ssdl|res://*/RepositoriesContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Repositories;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>