<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    
    <add key="RepositoryType" value="Repositories.CSV.CSVRepository,
         Repositories.CSV, Version=1.0.0.0, Culture=neutral"/>
    
    <add key="Repositories.IPersonRepository" value="Repositories.CSV.CSVRepository,
         Repositories.CSV, Version=1.0.0.0, Culture=neutral"/>

    <add key="CSVFilepath" value="C:\Users\Nate\Documents\Visual Studio 2015\Projects\PeopleRepoViewer\Repositories.CSV\PeopleCSVFile.txt" />
  </appSettings>
</configuration>